.delivery {
  margin-top: 80px;
  display: flex;
  gap: 86px;
  .delivery--selfCall {
    width: 40%;
    height: 279px;
    background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
    box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2);
    padding: 18px 35px 18px 35px;
    gap: 51px;
    border-radius: 24px;
    opacity: 0px;
    transition: .5s;
    h1 {
      font-size: 24px;
      font-weight: 500;
      line-height: 29.26px;
    }
    h2 {
      font-size: 24px;
      color: rgba(76, 76, 76, 1);
      margin: 51px 0 13px 0;
      font-weight: 500;
    }
    h5 {
      font-size: 20px;
      color: rgba(76, 76, 76, 1);
      font-weight: 400;
      margin-bottom: 51px;
      line-height: 24.2px;
    }
  }
  .delivery--selfCall:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
  .delivery--card {
    height: 279px;
    transition: .5s;
    width: 60%;
    background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
    box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2);
    padding: 18px 156px 18px 35px;
    gap: 51px;
    border-radius: 24px;
    opacity: 0px;
    h1 {
      font-size: 24px;
      font-weight: 500;
    }
    .delivery--inputs {
      .delivery-dropdown {
        margin: 21px 0;
        display: flex;
        gap: 20px;
        select {
          width: 50%;
          border-radius: 10px;
          border: 1px solid rgba(212, 212, 212, 1);
          height: 44px;
          background: transparent;
          padding: 10px 15px;
          font-size: 20px;
          color: rgba(136, 136, 136, 1);
          outline: none;
          font-weight: 400;
        }
      }
      .delivery--streets {
        display: flex;
        margin-bottom: 43px;
        gap: 20px;
        input {
          width: 50%;
          border-radius: 10px;
          border: 1px solid rgba(212, 212, 212, 1);
          height: 44px;
          background: transparent;
          padding: 10px 15px;
          font-size: 20px;
          color: rgba(136, 136, 136, 1);
          outline: none;
          font-weight: 400;
        }
      }
    }

  }
  .delivery--card:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
