.wayToPay {
  margin: 130px 0;
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .wayToPay--cards {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    .wayToPay--cards__card {
      height: 135px;
      background: rgba(235, 242, 249, 1);
      width: 23%;
      box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2);
      border-radius: 10px;
      transition: 0.2s;
      padding: 29px 13px;
      h5 {
        font-size: 20px;
        margin-bottom: 11px;
        font-weight: 500;
      }
      .wayToPay--cards__card--emblems {
        display: flex;
        align-items: center;
        gap: 10%;
      }
      h2 {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        font-weight: 500;
        line-height: 47px;
      }
    }
    .wayToPay--cards__card:hover{
        border: 1px solid white;
    }
  }
}
