.basketCard {
  width: 96%;
  height: 251px;
  border-radius: 24px;
  display: flex;
  transition: 0.5s;
  align-items: center;
  position: relative;
  padding: 20px;
  background: linear-gradient(210.55deg, #ebf2f9 19.14%, #c6d7eb 154.68%);
  box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2);
  .basketCard--stars {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    .basketCard--stars__star {
      clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
      );
      width: 25px;
      height: 25px;
      background-color: grey;
    }
  }
  img {
    margin-right: 90px;
  }
  .basketCard--text {
    h2 {
      font-size: 25px;
      font-weight: 400;
    }
    .basketCard--text__desPrice {
      display: flex;
      position: relative;
      p {
        width: 700px;
        font-size: 25px;
        color: rgba(136, 136, 136, 1);
        font-weight: 400;
        line-height: 30px;
      }
      .basketCard--text__desPrice--price {
        position: absolute;
        right: -200px;
        top: 30px;
        h2 {
          font-size: 30px;
          font-weight: 600;
          line-height: 40px;
        }
        h4 {
          font-size: 20px;
          color: rgba(82, 82, 82, 1);
          text-decoration: line-through;
          font-weight: 400;
        }
      }
    }
    .basketCard--text__colorCount {
      display: flex;
      margin-top: 10px;
      .basketCard--text__colorCount--color {
        display: flex;
        align-items: center;
        gap: 10px;
        h3 {
          font-size: 25px;
          color: rgba(136, 136, 136, 1);
          font-weight: 400;
        }
        .basketCard--text__colorCount--color__cirlce {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
      }
      .basketCard--text__colorCount--count {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 40%;
        .basketCard--text__colorCount--count__counter {
          display: flex;
          align-items: center;
          gap: 10px;
          button {
            width: 36px;
            height: 36px;
            border-radius: 5px;
            border-top: 2px solid white;
            border-left: 2px solid white;            
            border-bottom: none;
            border-right: none;
            font-size: 25px;
            box-shadow: 16px 4px 64px 0px rgba(18, 61, 101, 0.2);
            background: linear-gradient(210.55deg, #EBF2F9 19.14%, #C6D7EB 154.68%);
          }
        }
        .basketCard--text__colorCount--count__remove {
          display: flex;
          align-items: center;
          cursor: pointer;
          gap: 10px;
          a {
            text-decoration: none;
            svg:hover {
              color: grey;
            }
          }
          span {
            font-size: 15px;
            color: rgba(136, 136, 136, 1);
          }
        }
      }
    }
  }
}
