#brand {
  padding-top: 100px;
  .brand {
    .brand--textH1 {
      font-family: Montserrat;
      font-size: 41px;
      font-weight: 400;
      line-height: 60px;
      text-align: left;
    }
    .brand--allCard {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .brand--card {
        width: 300px;
        height: 150px;
        box-shadow: 18px -10px 157px -6px rgba(18, 61, 101, 0.44);
        -webkit-box-shadow: 18px -10px 157px -6px rgba(18, 61, 101, 0.44);
        -moz-box-shadow: 18px -10px 157px -6px rgba(18, 61, 101, 0.44);

        background: linear-gradient(210.55deg, #eff4fd 19.14%, #bed2e7 154.68%);
        border: 1px solid white;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
      }
    }
  }
}

#turan {
  padding-top: 100px;
  .turan {
    display: flex;
    align-items: center;
    gap: 120px;
    .turan--logo {
      display: flex;
      align-items: center;
      gap: 18px;
    }
    .--right {
      h3 {
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 3px;
        text-align: justified;
      }
      .turan--right--h3 {
        margin-top: 20px;
      }
    }
  }
  .turan--btn--logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    button {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #ff7300;

      padding: 0.7em 0.7em;
      font-size: 24px;
      border-radius: 1.5em;
      background: rgb(239, 242, 248);
      cursor: pointer;
      border: 1px solid #e8e8e8;
      transition: all 0.3s;
      box-shadow: 6px 6px 12px #bed2e7, -6px -6px 12px #eff4fd;
    }

    button:active {
      color: #666;
      box-shadow: inset 4px 4px 12px #eff4fd, inset -4px -4px 12px #eff4fd;
    }
  }
}

#footer {
  padding: 100px 0;
  .footer {
    display: flex;
    align-items: start;
    gap: 250px;

    h1 {
      font-family: Montserrat;
      font-size: 37px;
      font-weight: 400;
      line-height: 23px;
      text-align: left;
      border-bottom: solid 1px white;
      height: -5px;
    }
    .footer--text--p {
      margin-top: 81px;
      p {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
      }
    }
    .footer--text--two {
      h1 {
        font-family: Montserrat;
        font-size: 37px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        border-bottom: solid 1px white;
        height: -5px;
      }
      .footer--information {
        margin-top: 80px;
        p {
          margin-top: 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-family: Montserrat;
          font-size: 21px;
          font-weight: 400;
          line-height: 23px;
          text-align: left;
        }
      }
    }
  }
}
