@import "./components/header/header.scss";
@import "./pages/main/main.scss";
@import './pages/Basket/Basket.scss';
@import './pages/Basket/BasketCard/BasketCard.scss';
@import './pages/Basket/BasketCard/Delivery/Delivery.scss';
@import './pages/Basket/BasketCard/Delivery/WayToPay/WayToPay.scss';
@import './pages/Favorite/Favorite.scss';
@import './pages/Favorite/FavoriteCard/FavoriteCard.scss';

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  background: linear-gradient(210.55deg, #eff4fd 19.14%, #bed2e7 154.68%);
}