.about-us {
  width: 90%;
  margin: 0 auto;
}
.about-us h2 {
  color: #888888;
  margin: 20px 0;
}
.about-us-info {
  padding: 50px;
  width: 100%;
  background: linear-gradient(210.55deg, #eff4fd 19.14%, #dce7f3 154.68%);
  box-shadow: 0px 0.3px 30px rgba(0, 0, 0, 0.318);
  line-height: 70px;
  margin-top: 40px;
  font-size: 22px;
  border-radius: 20px;
}
